.card {
  width: 300px;
  height: fit-content;
  margin-top: 25px !important;
}

.chart {
  box-shadow: #0000001a -4px 7px 20px 0px;
  height: fit-content;
  margin: 10px 20px;
  padding: 10px;
  /* flex: 100%; */
  max-width: 400px;
  border-radius: 5px;
  transition: all 0.5s ease;
  cursor: pointer;
  background: white;
}

.chart:hover {
  box-shadow: #0000001a 4px -7px 20px 0px;
}

@media only screen and (max-width: 650px) {
  .card {
    width: 200px;
  }
  .card img {
    height: 150px !important;
  }
  .chart {
    width: fit-content;
    padding: 10px 0px;
    margin: 10px 0px;
  }
}
