.lola {
  /* background: orange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pagecenter {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: #f0f8ffeb 0px 11px 20px 5px;
  padding: 65px !important;
}
@media only screen and (max-width: 1400px) {
  .pagecenter {
    padding: 40px !important;
  }
}

@media only screen and (max-width: 650px) {
  .pagecenter {
    padding: 0px !important;
    box-shadow: none;
    position: none;
  }
}
