.footer {
  /* position: relative; */
  /* top: 100%; */
  width: 100%;
  /* transform: translateY(-100%); */
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background: #00182d;
}

.sideNav {
  /* background: orange !important; */
  margin-top: 10vh;
  height: 100%;
}

@media only screen and (max-width: 1400px) {
  
  .footer {
    height: 45px;
  }
}
@media only screen and (max-width: 650px) {
}
